.role {
  margin-right: 4px;
  &.admin {
    color: var(--color-role-privileged);
  }
  &.manager {
    color: var(--color-role-privileged);
  }
  &.default {
    color: var(--color-role-default);
  }
  &.all {
    color: var(--color-role-default);
  }
  &.partial {
    font-style: italic;
    color: var(--color-role-partial);
  }
}

.user-list-table {
  overflow-x: visible;
  width: auto !important;
  .p-datatable-wrapper {
    overflow-x: visible;
  }
  .p-selectable-row.inactive td {
    color: var(--md-sys-color-outline);
    span {
      color: var(--md-sys-color-outline);
      &.user-image {
        opacity: 0.7;
      }
    }
  }
}
